.message
  .message__upper-info
    %p.message__upper-info__talker
      test-user
    %p.message__upper-info__date
      2019/09/16(Mon) 10:30:01
  %p.message__text
    こんにちは！！
.message
  .message__upper-info
    %p.message__upper-info__talker
      test-user
    %p.message__upper-info__date
      2019/09/16(Mon) 21:22:25
  %p.message__text
    さようなら。
