.wrapper
  = render(partial: "shared/side_bar")
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          test-group
        %ul.main-header__left-box__member-list
          Member
          %li.main-header__left-box__member-list__member
            test-user
          %li.main-header__left-box__member-list__member
            sample-user
      = link_to edit_group_path(@group) do
        .main-header__edit-btn
          Edit
    .messages
      = render(partial: "message")
    .form
      %form.new-message
        .input-box
          %input.input-box__text{type: "text", name: "body", placeholder: "type a message"}
          %label.input-box__image{for: "message-image"}
            = fa_icon("image lg")
            %input.input-box__image__file{type: "file", name: "image", id: "message-image", accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png"}
        %input.submmit-btn{type: "submit", value: "Send"}
