// 複数回使用する設定値を、変数として定義する。 
$accent_white_color: #FFFFFF;
$accent_blue_color: #38AEF0;
$chat_title_color: #333333;
$chat_main_color: #434A54;
$chat_info_color: #999999;

$side_width: 300px;
$header_height: 100px;
$form_height: 90px;
